# Python
__pycache__/
*.py[cod]
venv/
.venv/

# 환경변수 (비밀키)
.env

# Firebase 인증키
*firebase-adminsdk*.json
backend/nvda-catch-up-firebase-adminsdk-fbsvc-*.json
nvda-catch-up-firebase-adminsdk-fbsvc-f2843fe2ab.json

# 백업 폴더 (선택)
_backup/